# Artefacts
*.tsbuildinfo
.DS_Store
.direnv/
.vite/
build/
coverage/
dist/
docs/
node_modules/
tmp/

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Environment
.env
!.env.example

# Logs
logs
*.log
*.local

deno.lock
