.bannerWrapper {
	position: relative;
	width: 100%;
	margin-bottom: 3.5rem;
}

.banner {
	background: linear-gradient(to top, var(--secondary-colour), var(--background-colour));
	padding: var(--gap-s);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	text-align: center;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bannerTitle {
	font-size: 3rem;
	font-weight: 200;
	color: var(--text-colour);
}

.bannerOverlay {
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 var(--gap-s);
}

.bannerLeft {
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bannerProfileImage {
	height: 120px; /* same as banner height */
	width: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 4px solid var(--background-colour);
	background: var(--background-colour-light);
}

.bannerActions {
	display: flex;
	gap: 10px;
	margin-left: auto;
}

.bannerButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-colour-light);
	color: var(--text-colour);
	border: none;
	border-radius: 10px;
	padding: 6px 12px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s;
}

.followButton {
	background-color: var(--primary-colour);
}

.followingButton {
	background-color: var(--secondary-colour);
}

.joinButton:hover {
	background-color: #a63030;
}
