.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-colour-dark);
}

.logo {
  font-size: 2rem;
  color: var(--text-colour);
}

.hamburgerButton {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--text-colour);
  cursor: pointer;
  display: none; /* hidden on desktop by default */
}

/* Show hamburger on mobile only */
@media (max-width: 768px) {
  .hamburgerButton {
    display: block;
  }
}