.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-s);
    width: 100%;
    height: 100%;
    padding: var(--gap-s);
    overflow-y: scroll;
}